version: '3.5'

services:
  adalite-backend:
    container_name: ${COMPOSE_PROJECT_NAME}-adalite-backend
    build: ..
    depends_on:
      - postgres
      - cardano-node
      - cardano-db-sync
      - cardano-submit-api
    ports:
      - ${ADALITE_BACKEND_HOST_PORT}:8080
    command: ["./wait-for-it.sh", "cardano-submit-api:8101", "-t", "3600", "--", "/bin/sh", "-c", "yarn knex migrate:latest && yarn start >> /var/log/app/server.log 2>&1"]
    volumes:
      - ${DATA_PATH}/adalite-backend:/var/log/app
    environment:
      name: ${COMPOSE_PROJECT_NAME}-adalite-backend
      NODE_ENV: production
      PORT: 8080
      DB: ${POSTGRES_DB}
      DB_PORT: 5432
      DB_HOST: postgres
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_USER: cexplorer
      CORS_ENABLED_FOR: ${CORS_ENABLED_FOR}
      SUBMIT_API_URL: http://cardano-submit-api:8101
      SLACK_TOKEN: ${SLACK_TOKEN}
      SLACK_CHANNEL: ${SLACK_CHANNEL}
    restart: unless-stopped

  postgres:
    container_name: ${COMPOSE_PROJECT_NAME}-db
    image: postgres:12.3-alpine
    shm_size: 256m
    ports:
      - ${DB_HOST_PORT}:5432
    environment:
      - POSTGRES_LOGGING=true
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=cexplorer
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ${DATA_PATH}/postgres:/var/lib/postgresql/data
    restart: unless-stopped

  cardano-node:
    container_name: ${COMPOSE_PROJECT_NAME}-cardano-node
    image: inputoutput/cardano-node:1.18.0
    environment:
      - NETWORK=${NETWORK}
    volumes:
      - ${DATA_PATH}/node-db:/data/db
      - ${DATA_PATH}/node-ipc:/ipc
    restart: unless-stopped

  cardano-db-sync:
    container_name: ${COMPOSE_PROJECT_NAME}-cardano-db-sync
    image: inputoutput/cardano-db-sync:3.1.0
    environment:
      - NETWORK=${NETWORK}
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=${POSTGRES_DB}
      - EXTENDED=true
      # "As of today, it is absolutely mandatory for the postgres_user to be defined as cexplorer"
      # quoted from https://github.com/input-output-hk/cardano-rest/wiki/Docker
      - POSTGRES_USER=cexplorer
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - cardano-node
      - postgres
    volumes:
      - ${DATA_PATH}/node-ipc:/node-ipc
      - ${DATA_PATH}/db-sync-tmp:/tmp
    restart: unless-stopped

  cardano-submit-api:
    container_name: ${COMPOSE_PROJECT_NAME}-cardano-submit-api
    image: inputoutput/cardano-submit-api:2.1.1
    environment:
      - NETWORK=${NETWORK}
    depends_on:
      - cardano-node
    volumes:
      - ${DATA_PATH}/node-ipc:/node-ipc
    ports:
      - ${ADALITE_SUBMIT_API_HOST_PORT}:8101
    restart: unless-stopped

volumes:
  postgres:
  node-db:
  node-ipc:
